@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: Roboto;
}

.hex-container{
    border: 1px solid blue;
    width: 95%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.hex-colors h1{
    font-size: 16px;
    text-transform: uppercase;
    animation: colorchange 5s infinite alternate;
}

.hex-colors h2{
    border:1px solid black;
    font-size: 12px;
    margin-top: 15%;
}

@keyframes colorchange{
    0%{
        color:indigo;
    }
    20%{
        color:rgb(44, 10, 169);
    }
    40%{
        color:rgb(9, 162, 176);
    }
    60%{
        color:rgb(17, 158, 97);
    }
    80%{
        color:rgb(194, 209, 27);
    }
    100%{
        color:rgb(208, 93, 21);
    }
}