.container{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.h1{
    font-size: medium;
    font-family: sans-serif;
}

.h2{
    font-size: medium;
}